<!DOCTYPE html>
<html>

<head>
    <title>Email Verification - One-Time Password (OTP) Required</title>
</head>

<body>
    <p>Thank you for signing up with our platform! We are thrilled to have you on board. To ensure the security of your
        account, we require a one-time password (OTP) for email verification.</p>
    <p>Your email address: {{email}}</p>
    <p>Please use the following link to complete your email verification process:</p>
    <p><strong>link: {{link}}</strong></p>
    <p>Note: This OTP is valid for the next 15 minutes. Please do not share it with anyone for security reasons. If you
        did not attempt to verify your email with us, please ignore this email.</p>
    <p>Once you have entered the OTP on our website/app, your email will be successfully verified, and you'll have
        access to all the features and benefits of our platform.</p>
    <p>If you encounter any issues during the verification process or have any questions, don't hesitate to contact our
        support team at <a href="mailto:omoeiyekewenjames@gmail.com">omoeiyekewenjames@gmail.com</a>. We're here to assist you.
    </p>
    <p>Thank you for choosing our service, and we look forward to providing you with an excellent experience.</p>
    <br>
    <p>Best regards,</p>
    <p>Paul</p>
    <p>Customer Support Team</p>
    <p>CloudReport</p>
    <p>Website: <a href="https://google.com">cloudreport</a></p>
</body>

</html>